// Specific CSS for your home-page
.background-transparent {
    background-image: asset-url('homepage_SN.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 80vh;
    width: 100%;
}

.transparent {
    position: absolute;
    z-index: 2; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
}
.background-full-image {
    z-index: 3;
    background-image: asset-url('homepage_SN.jpg');
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 5%;
    height: 85%;
    width: 85%;
    opacity: 1;
}

.intro {
    z-index: 4;
    color: $gray;
    background-color: $white;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 40%;
    padding: 1.6rem;
    span {
        color: $red;
    }
}

.intro-title {
    font-size: 36px;
}

.intro-text {
    font-size: 18px;
}

.btn {
    position: relative;
    top: 75%;
    left: 75%;
}

.subtitle-italic {
    font-size: 12px;
    font-style: italic;
    width: 100%;
}

@media(max-width: 768px) {

    .background-transparent {
        background-image: asset-url('homepage_SN.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
        height: 70vh;
        width: 100%;
    }
    
    .transparent {
        position: absolute;
        z-index: 2; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.3);
    }
    .background-full-image {
        z-index: 3;
        background-image: asset-url('homepage_SN.jpg');
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 5%;
        left: 5%;
        height: 95%;
        width: 95%;
        opacity: 1;
    }

    .btn {
        position: relative;
        top: 10%;
        left: 20%;
    }

    .intro {
        z-index: 4;
        color: $gray;
        background-color: $white;
        opacity: 1;
        width: 100%;
        padding: 1.6rem;
        position: relative;
        height: 30%; //to be replaced when push the button for guests in production
        // height: 40%;
        span {
            color: $red;
        }
    }

    .intro-title {
        font-size: 24px; //to be replaced when push the button for guests in production
        // font-size: 32px;
    }
    
    .intro-text {
        font-size: 16px; //to be replaced when push the button for guests in production
        // font-size: 18px;
    }




}