// Import page-specific CSS files here.
@import "home";
@import "agenda";

.container {
    width: 1200px;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .container {
      width: 100vw;
      padding: 0;
    }
  }
