<div class="navbar navbar-expand-sm navbar-light navbar-SN">
  <%= link_to "/", class: "navbar-brand" do %>
    <div class="logo">S&N</div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Les festivités", :agenda, class: "nav-link" %>
      </li>
      <li>|</li>
      <li class="nav-item">
          <%= link_to "A faire à Biarritz", :activities, class: "nav-link" %>    
      </li>
      <li>|</li>
      <li class="nav-item">
        <%= link_to "Infos pratiques", :places, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
