<div class="container">
    <div class="white-color">
        <div class="agenda-main-title">
            <h3>Découvrez le programme du week-end</h3>
        </div>
        <div class="agenda-list">
            <div class="agenda-list-left">
                <div class="agenda-title">Samedi 19 Septembre 2020</div>
                <table>
                    <col style="width: 40%">
                    <col>
                    <tr><td><span>16h30 - 17h45</span></td><td>Cérémonie à l'Église d'Arcangues</td></tr>
                    <tr><td><span>18h30 - 20h30</span></td><td>Cocktail au Château du Clair de Lune</td></tr>
                    <tr><td><span>20h30 - 22h30</span></td><td>Dîner</td></tr>
                    <tr><td><span>23h00 - 5h00</span></td><td>Soirée de folie jusqu'au bout de la nuit</td></tr>
                    <tr><td><span>XXh00 - XXh00</span></td><td>Navette prévue pour vous ramener toutes les Xh</td></tr>
                </table>
                <div class="picture-left"></div>
            </div>
            <div class="agenda-list-right">
                <div class="picture-right"></div>
                <div class="agenda-title">Dimanche 20 Septembre 2020</div>
                <table>
                    <col style="width: 40%">
                    <col>
                    <tr><td><span>11h00 - 15h00</span></td><td>Brunch au Château du Clair de Lune</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>