<div class="container">
    <div class="white-color">
        <div class="agenda-main-title">
            <h3>Découvrez le programme du week-end</h3>
        </div>
        <div class="agenda-list">
            <div class="agenda-list-left">
                <div class="agenda-title">Samedi 30 Octobre 2021</div>
                <table>
                    <col style="width: 40%">
                    <col>
                    <tr><td><span>15h00 - 16h15</span></td><td>Cérémonie à l'Église d'Arcangues</td></tr>
                    <tr><td><span>18h30 - 20h30</span></td><td>Cocktail au Château du Clair de Lune</td></tr>
                    <tr><td><span>20h30 - 22h30</span></td><td>Dîner</td></tr>
                    <tr><td><span>23h00 - 4h00</span></td><td>Soirée de folie jusqu'au bout de la nuit (*)</td></tr>
                </table>
                <div class="subtitle-italic">
                    (*) Une navette sera prévue pour vous ramener
                </div>
                <div class="picture-left-container">
                    <div class="picture-left-transparent"></div>
                    <div class="picture-left"></div>
                </div>
            </div>
            <div class="agenda-list-right">
                <div class="picture-right-container">
                    <div class="picture-right-transparent"></div>
                    <div class="picture-right"></div>
                </div>
                <div class="agenda-title">Dimanche 31 Octobre 2021</div>
                <table>
                    <col style="width: 40%">
                    <col>
                    <tr><td><span>11h00 - 15h00</span></td><td>Brunch au Château du Clair de Lune</td></tr>
                </table>
            </div>
        </div>
        <div class="p-3 text-center">
            En raison de pièces d'eau non surveillées, nous ne pourrons malheureusement pas accueillir vos enfants
        </div>
    </div>
</div>