<div class="container">
    <div class="background-transparent">
        <div class="transparent"></div>
        <div class="background-full-image">
            <div class="btn button-answer">
                Je réponds!
            </div>
        </div>
        <div class="intro">
            <div class="intro-title">
                Servane & Nicolas se disent <span>OUI</span>
            </div>
            <div class="intro-text">
                Venez nous entourer le
                <span>19 Septembre 2020 à Biarritz</span> pour célébrer ce moment de joie
            </div>
        </div>
    </div>
</div>
