<div class="container">
    <% unless flash[:success].nil? %>
        <div class="flash flash-success alert alert-dismissible fade show" role="alert">
            <%= raw(flash[:success]) %>
            <a data-dismiss="alert" aria-label="Close">
                <i class="fas fa-times"></i>
            </a>
        </div>
    <% end %>
    <% if mobile_device? %>
        <div class="background-transparent">
            <div class="transparent"></div>
            <div class="background-full-image">
            </div>
        </div>
        <div class="intro">
            <div class="intro-title">
                Servane & Nicolas se disent <span>OUI</span>
            </div>
            <div class="intro-text">
                Venez nous entourer le
                <span>19 Septembre 2020 à Biarritz</span> pour célébrer ce moment de joie
            </div>
            <div class="subtitle-italic">Crédits photo: Angela Bloemsaat<br>(instagram: @angelabloemsaat)</div>
            <div class="mobile-button">
                <%= link_to "RSVP", new_guest_path, class: 'btn button-answer' %>
            </div>
        </div>
    <% else %>
        <div class="background-transparent">
            <div class="transparent"></div>
            <div class="background-full-image">
                <%= link_to "RSVP", new_guest_path, class: 'btn button-answer' %>
            </div>
            <div class="intro">
                <div class="intro-title">
                    Servane & Nicolas se disent <span>OUI</span>
                </div>
                <div class="intro-text">
                    Venez nous entourer le
                    <span>19 Septembre 2020 à Biarritz</span> pour célébrer ce moment de joie
                </div>
            </div>
        </div>
        <div class="subtitle-italic">Crédits photo: Angela Bloemsaat (instagram: @angelabloemsaat)</div>
    <% end %>
</div>
