.card-activities {
    display: block;
}

.tab-title {
    color: $dark-red;
    font-size: 32px;
    margin: 32px 16px;
}

.card-activity {
    width: 100%;
    height: 100%;
    margin: 16px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    .card-activity-image {
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
    }
    .card-activity-infos {
        width: 100%;
        background-color: $white;
        padding: 16px;
        h2 {
            font-size: 24px;
        }
        P {
            font-size: 16px;
        }
    }
}




