.navbar-SN {
  justify-content: space-between;
  background: white;
  border-bottom: solid 3px $dark-red;
  .logo {
    font-family: 'PT Serif', serif;
    font-size: 36px;
    color: $dark-red;

  }
}

.navbar-SN .navbar-collapse {
  flex-grow: 0;
}

.navbar-nav {
    align-items: center;
    .nav-item .active {
      font-size: bold;
    }
}