// main card places and how it is displayed by default on laptop

.card-places {
    display: flex;
    height: 40vh;
    width: 100%;
    margin: 0 auto;
}

.card-place {
    overflow: hidden;
    height: 100%;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}

  
.place-image {
    height: 100%;
    width: 400px;
    background-size: cover;
    background-position: center;
}

.card-place h2 {
    font-size: 24px;
    font-weight: bold;
    width: 90%;
    margin: 8px auto;
    color: $dark-red;
}

.card-place h3 {
    font-size: 16px;
    font-style: italic;
    width: 90%;
    margin: 8px auto;
}

.card-place p {
    font-size: 16px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
}

.card-place .card-place-infos {
    padding: 16px;
    width: 50vw;
}


// cards information details


.card-place-infos-details {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    .bars {
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        margin: 0 16px;
        width: 6px;
    }
    .card-place-infos-details-left {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-place-infos-details-right {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card-place-infos-price {
            text-align: center;
            font-size: 32px;
        }
    }
}

// slider part with arrows and fade in fade out

.inactive {
    display: none;
}

.left-arrow {
    transform: rotate(-90deg);
    align-items: center;
    padding-top: 16px;
}

.right-arrow {
    transform: rotate(90deg);
    align-items: center;
    padding-top: 8px;
}

.arrows {
    width: 32px;
    font-size: 32px;
    background-color: $white;
    color: $dark-red;
    border: 1px solid $dark-red;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
        background-color: $dark-red;
        color: $white;
        cursor: pointer;
    }
}

.fade-in {
    height: 100%;
    width: 0px;
    opacity: 0;
    transition: all 0.4s ease;
}

.fade-in.show {
    opacity: 1;
    height: 100%;
    width: 100%;
}

// mobile responsiveness of places cards

@media(max-width: 768px) {
    .card-place {
        overflow: scroll;
        height: 130%;
        background: white;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        display: block;
    }
    
    .card-place h2 {
        font-size: 16px;
        margin: 4px 0;
    }
    
    .card-place h3 {
        font-size: 12px;
        margin: 4px 0;
    }
    
    .card-place p {
        font-size: 12px;
    }
    
    .card-place a {
        font-size: 12px;
    }
    
    .card-place-infos-details {
        display: block;
        width: 100%;
        .bars {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            margin: 4px 0;
            height: 3px;
            width: 100%;
        }
        .card-place-infos-details-left {
            width: 100%;
            display: block;
        }
        .card-place-infos-details-right {
            width: 100%;
            display: block;
            .card-place-infos-price {
                text-align: center;
                font-size: 24px;
            }
        }
    }

    .place-image {
        width: 100%;
        height: 40%;
    }
    .card-place .card-place-infos {
        width: 100%;
    }

}
